/* Global typography styling */
.typography {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: inherit; 
  color: var(--secondary-color); 
}

/* Dynamic font sizes */
.typography.h1 {
  font-size: 6.25rem; /* 100px */
}

.typography.h2 {
  font-size: 3rem; /* 48px */
}

.typography.h3 {
  font-size: 2rem; /* 32px */
  font-weight: 500;
}

.typography.h4 {
  font-size: 1.5rem; /* 24px */
}

.typography.h5 {
  font-size: 1.25rem; /* 20px */
}

.typography.h6 {
  font-size: 1rem; /* 16px */
}

/* Dynamic text color */
.grid-section[data-text="dark"] {
  color: var(--primary-color); /* svart text */
}

.grid-section[data-text="light"] {
  color: var(--secondary-color); /* vit text */
}

/* Responsiveness - Tablet */
@media (max-width: 768px) {
  .typography.h1 {
    font-size: 3rem; /* 48px */
  }

  .typography.h2 {
    font-size: 2.5rem; /* 40px */
  }

  .typography.h3 {
    font-size: 1.75rem; /* 28px */
  }

  .typography.h4 {
    font-size: 1.375rem; /* 22px */
  }

  .typography.h5, .typography.h6 {
    font-size: 1.125rem; /* 18px */
  }
}

/* Responsiveness - Mobile */
@media (max-width: 480px) {
  .typography.h1 {
    font-size: 2.5rem; /* 40px */
  }

  .typography.h2 {
    font-size: 2rem; /* 32px */
  }

  .typography.h3 {
    font-size: 1.5rem; /* 24px */
  }

  .typography.h4 {
    font-size: 1.25rem; /* 20px */
  }

  .typography.h5, .typography.h6 {
    font-size: 1rem; /* 16px */
  }
}

