
.bio-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 40vh; 
  background-color: inherit; 
  color: inherit; 
  font-family: inherit;
  max-width: 1200px; 
  min-width: 900px;
}
.bio-card {
  align-items: center;
  max-width: 74rem;
}

