
.bio-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 40vh; 
  background-color: inherit; 
  color: inherit; 
  font-family: inherit;
  max-width: 1200px; 
  min-width: 900px;
}
.bio-card {
  align-items: center;
  max-width: 74rem;
}

@media (max-width: 1024px) {
  .bio-section {
    height: 50vh;
  }
  .bio-card {
    max-width: 35%;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-x: overlay;
  }
}

