.header {
  display: flex;
  padding: 8rem 1.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header {
    padding: 4rem 1.5rem;
  }
}

/* Welcome text */
.welcome {
  margin: 0;
}

/* Name */
.name {
  margin: 0.5rem 0;
  line-height: normal;
  width: auto;
}

@media (max-width: 480px) {
  .name {
    font-size: 3.75rem; 
  }
}

/* Intro-text */ 
.intro-text {
  text-align: center;
  margin: 0;
}

