
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.image {
  flex-shrink: 0;
  border-radius: 12px;
  width: 500px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border: 0.5px solid grey;
}

/* Desktops */
@media (min-width: 1024px) {
  .image {
    width: 22.375rem;
  }
}

.middle {
  position: absolute;
  z-index: 1;
  top: -15px;
}

.left {
  transform: rotate(-4.695deg);
}

.right {
  transform: rotate(4.695deg);
}

/* Responsive - Large tablets */
@media (max-width: 768px) {
  .image {
    width: 18.75rem;
  }
}
/* Responsive - Small tablets */
@media (max-width: 600px) {
  .image {
    width: 15.625rem;
  }
}

/* Responsive - small mobile */
@media (max-width: 320px) {
  .image {
    width: 9.83rem;
  }
}

/* Responsive - large mobile */
@media (max-width: 480px) {
  .image {
    width: 12.5rem;
  }
}
