
.skill-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 8rem 0rem;
  gap: 1.5rem;
}

.skill-heading {
  color: var(--primary-color);
}

.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
}

.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-category .skill-tag {
  padding: 8px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  font-weight: bold;
  background: var(--secondary-color);
  color: var(--primary-color);
  min-width: 200px; 
  width: 100%; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
  box-sizing: border-box; 
}

.skill-category ul {
  list-style: none;
  width: 200px;
  padding: 0;
  margin: 0;
  text-align: left; 
  background: var(--secondary-color);
  color: var(--primary-color);
}

.skill-category ul li {
  font-size: 1rem;
  margin: 5px 0;
}

/* 📱 Responsiv design */
@media (max-width: 768px) {
  .skill-heading {
    font-size: 2.5rem;
  }
  
  .skill-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .skill-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
 @media (min-width: 1400px) {
  .skill-container {
    padding: 8rem 0rem;
    align-items: center;
  } 
  .skill-wrapper {
    width: 85%;
  }
}
