
.tech-section {
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
}

.tech-content-section {
  color: var(--secondary-color);
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.tech-content-section p {
  max-width: 343px;
}

/* Breakpoint for mobile */
@media (max-width: 480px) {
  .tech-content-section {
    padding: 64px 16px;
    gap: 16px;
  }
  .tech-content-section p {
    max-width: 100%;
    font-size: 1rem;
  }
}

/* Breakpoint for tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .tech-content-section {
    padding: 24px 24px;
}
  .tech-content-section p {
    max-width: 95%;
  }
}
/* Breakpoint for larger screens */
@media (min-width: 1024px) {
  .tech-content-section p{ 
    max-width: 100%;
  }
}